body {
  margin: 0px;
  padding: 25px;
  font-family: "Roboto Mono", "Noto Serif TC", sans-serif;
}

.background {
  background-image: url("/file/standardBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

hr {
  margin: 0px;
  border: transparent;
  border-top: 1px solid black;
}

.basicCard {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  transition: 0.5s;
  //transition-timing-function: cubic-bezier(.4,0,.2,1);
  background-color: white;
}

.basicCard:hover {
  box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

.cardTitle {
  margin: 0px 0px 10px 0px;
}

/*
.cardParagrah{
    margin: ;
}*/

iframe {
  width: 50%;
  display: block;
}

.roundedLinkButton {
  color: black;
  border-radius: 50px;
  border: 1px solid rgb(200,200,200);
  padding: 5px 10px;
  margin: 0px 2px 0px 5px;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.roundedLinkButton:visited {
  color: black;
}

.roundedLinkButton:hover {
  background-color: rgb(209, 209, 209);
}

.roundedLinkButton:active {
  background-color: grey;
  color: white;
}

.roundedLinkButton.redButton:active {
  background-color: red;
  color: white;
}

.roundedLinkButton.magentaButton:active {
  background-color: rgb(209, 46, 144);
  color: white;
}

.roundedLinkButton.blueButton:active {
  background-color: rgb(12, 136, 239);
  color: white;
}

.roundedLinkButton.greenButton:active {
  background-color: rgb(52, 168, 83);
  color: white;
}

.pictureContainer {
  position: relative;
  padding-bottom: 100%;
}

.pictureContainer.motionPicture {
  padding-bottom: 56.25%;
}

.pictureContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0px;
}

.actions {
  margin-top: 10px;
  overflow: auto;
  white-space: nowrap;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 100%;
}

a {
  line-height: 24px;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px; /* Preferred icon size */
  display: inline-flex;
  line-height: 24px;
  margin-right: 5px;
  vertical-align: top;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
