body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Mono", "Noto Serif TC", sans-serif;
  background-color: rgb(253, 253, 253);
}

.topMessages {
  background-color: rgb(211, 47, 47);
  color: white;
  width: 100%;
  height: auto;
  position: fixed;
  padding: 5px 0px;
  top: 0px;
  text-align: center;
  box-shadow: 0px 0px 15px rgb(211, 47, 47);
  font-size: 12px;
}

.space {
  margin: 50px;
}

.background {
  background-image: url("/file/standardBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

hr {
  margin: 10px 0px 10px 0px;
  border: transparent;
  border-top: 1px solid rgb(235, 235, 235);
}

.basicCard {
  /*
  border: 0px solid transparent;
  padding: 0px;
  */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgb(220, 220, 220);
  margin: 25px;
  text-align: center;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.basicCard:hover {
  box-shadow: 0px 10px 20px rgb(200, 200, 200);
}

.cardHeader {
  padding: 20px 20px 0px 20px;
  margin: 0px;
  text-align: center;
  font-family: "Roboto Mono", "Noto Sans TC", sans-serif;
}

.cardTitle {
  margin: 0px;
}

.cardContent {
  padding: 20px;
}

.cardContentText {
  margin: 0px;
  /*
  text-indent: 2em;
  text-align: left;
*/
}
/*
.cardContentTimestamp {
  margin: 0px;
  text-align: right;
}
*/
.actions {
  padding: 0px 20px 20px 20px;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
}

iframe {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.roundedLinkButton {
  color: rgb(60, 60, 60);
  border-radius: 50px;
  padding: 5px 10px;
  margin: 0px 3px 0px 3px;
  background-color: rgb(240, 240, 240);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-tap-highlight-color: transparent;
}

.roundedLinkButton:visited {
  color: black;
}

.roundedLinkButton:hover {
  background-color: rgb(209, 209, 209);
}

.roundedLinkButton:active {
  background-color: grey;
  color: white;
}

.roundedLinkButton.redButton:active {
  background-color: red;
  color: white;
}

.roundedLinkButton.magentaButton:active {
  background-color: rgb(209, 46, 144);
  color: white;
}

.roundedLinkButton.blueButton:active {
  background-color: rgb(12, 136, 239);
  color: white;
}

.roundedLinkButton.greenButton:active {
  background-color: rgb(52, 168, 83);
  color: white;
}

.pictureContainer {
  position: relative;
  padding-bottom: 100%;
}

.pictureContainer.motionPicture {
  padding-bottom: 56.25%;
}

.pictureContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 0px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 100%;
}

a {
  line-height: 24px;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px; /* Preferred icon size */
  display: inline-flex;
  line-height: 24px;
  margin-right: 5px;
  vertical-align: top;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

footer {
  text-align: center;
  color: rgb(180, 180, 180);
}
